In [2]:
while True:
    testText = input("write here!")
    print(testText)
    if testText == "q": break

dsf
werq
hdfgh
q

In [6]:
from datetime import datetime

data = []
while True:
    toAdd = [datetime.now()]
    testText = input("write here!")
    toAdd.append(testText)
    print(testText)
    toAdd.append(datetime.now())
    if testText == "q": break
    data.append(toAdd)
print(data)

lkjhsdfg
ljkhsdfdljhas
lajsdhflkjhasg
lasjdhflkjashg
lasjdhf
lasdjkhf
q
[[datetime.datetime(2024, 12, 6, 15, 55, 52, 799144), 'lkjhsdfg', datetime.datetime(2024, 12, 6, 15, 55, 57, 344752)], [datetime.datetime(2024, 12, 6, 15, 55, 57, 344761), 'ljkhsdfdljhas', datetime.datetime(2024, 12, 6, 15, 55, 58, 979773)], [datetime.datetime(2024, 12, 6, 15, 55, 58, 979783), 'lajsdhflkjhasg', datetime.datetime(2024, 12, 6, 15, 56, 0, 277495)], [datetime.datetime(2024, 12, 6, 15, 56, 0, 277507), 'lasjdhflkjashg', datetime.datetime(2024, 12, 6, 15, 56, 1, 548329)], [datetime.datetime(2024, 12, 6, 15, 56, 1, 548336), 'lasjdhf', datetime.datetime(2024, 12, 6, 15, 56, 2, 659928)], [datetime.datetime(2024, 12, 6, 15, 56, 2, 659937), 'lasdjkhf', datetime.datetime(2024, 12, 6, 15, 56, 3, 906640)]]

In [43]:
import pandas as pd
tdf = pd.DataFrame(data=data,columns=["sampleDT", "text", "endTime"])
mi = pd.MultiIndex.from_frame(tdf[['sampleDT', 'text']])
tdf.index = mi
tdf = tdf.drop(columns=["sampleDT", "text"])
tdf

                                                             endTime
sampleDT                   text
2024-12-06 15:55:52.799144 lkjhsdfg       2024-12-06 15:55:57.344752
2024-12-06 15:55:57.344761 ljkhsdfdljhas  2024-12-06 15:55:58.979773
2024-12-06 15:55:58.979783 lajsdhflkjhasg 2024-12-06 15:56:00.277495
2024-12-06 15:56:00.277507 lasjdhflkjashg 2024-12-06 15:56:01.548329
2024-12-06 15:56:01.548336 lasjdhf        2024-12-06 15:56:02.659928
2024-12-06 15:56:02.659937 lasdjkhf       2024-12-06 15:56:03.906640

In [45]:
tdf.index.get_level_values("sampleDT")

DatetimeIndex(['2024-12-06 15:55:52.799144', '2024-12-06 15:55:57.344761',
               '2024-12-06 15:55:58.979783', '2024-12-06 15:56:00.277507',
               '2024-12-06 15:56:01.548336', '2024-12-06 15:56:02.659937'],
              dtype='datetime64[ns]', name='sampleDT', freq=None)

In [ ]:
targetdt = data[3][0]
targetEndDt = data[5][0]
# looking up indexes based on timestamp and retrieving text
tdf.loc[targetdt:targetEndDt].index.get_level_values("text").values

array(['lasjdhflkjashg', 'lasjdhf', 'lasdjkhf'], dtype=object)

In [22]:
tdf.iloc[3]

sampleDT    2024-12-06 15:56:00.277507
text                    lasjdhflkjashg
endTime     2024-12-06 15:56:01.548329
Name: (2024-12-06 15:56:00.277507, lasjdhflkjashg), dtype: object

In [ ]:
newRow = [datetime.now(), input("Text Here!"), datetime.now()]
newRow

'some tesssss'

In [ ]:
# adding a new row from a list
tdf.loc[(newRow[0], newRow[1]),'endTime'] = newRow[2]
tdf

                                                              endTime
sampleDT                   text
2024-12-06 15:55:52.799144 lkjhsdfg        2024-12-06 15:55:57.344752
2024-12-06 15:55:57.344761 ljkhsdfdljhas   2024-12-06 15:55:58.979773
2024-12-06 15:55:58.979783 lajsdhflkjhasg  2024-12-06 15:56:00.277495
2024-12-06 15:56:00.277507 lasjdhflkjashg  2024-12-06 15:56:01.548329
2024-12-06 15:56:01.548336 lasjdhf         2024-12-06 15:56:02.659928
2024-12-06 15:56:02.659937 lasdjkhf        2024-12-06 15:56:03.906640
2024-12-06 19:32:15.719455 some tesssss    2024-12-06 19:32:24.371848

In [59]:
tdf.loc[(targetdt, 'lasjdhflkjashg')]

endTime    2024-12-06 15:56:01.548329
Name: (2024-12-06 15:56:00.277507, lasjdhflkjashg), dtype: object